<!DOCTYPE html>
<html>
<head>
  <title> Express Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 
 <div class="navbar">
<h1> Express It</h1>
	<nav>
		<ul>
			<button>
			<%=link_to 'Profile', user_path(session[:user_id]) %>
	     	</button>
			<button>
			<%=link_to 'View My Posts', user_posts_path(session[:user_id]) %>
			</button>
			<button>
			<%=link_to'View Posts', users_session_path %>
			</button>
			<button>
			<%=link_to'log Out', users_sign_out_path %>
			</button>
		</ul>
	</nav>
</div>
<div class="wrapper">
 <div>
 <h1>
 	Express It!!!
 </h1>
 	
 </div>







<%= yield %>
</div>
</body>
</html>

